.input-container {
    margin-bottom: 10px; 
  }
  
  .text-input {
    width: 100%; 
    height: 100px;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    resize: vertical;
    overflow: auto; 
  }  

  .disclaimer{
    margin-top: 0;
    opacity: 0.5;
    font-size: small;
  }

  .prompt-question{
    margin-bottom: 0;
  }

  .submit-button {
    padding: 10px 20px; 
    border: none; 
    background-color: var(--Brand-700,#6941C6); ; 
    color: white; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  .submit-button:hover {
    background-color: #9e77ED; 
  }
  